/* Based on template from csslayoutgenerator.com */

body {
  font: 12px/18px helvetica, sans-serif;
}

strong {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
}
main{
  background-image: url('../images/background.jpg');
}
#index{
  text-align: center;
}
#index #logo{
  padding: 50% 0;
}
#index input{
  border-radius: 20px;
  width:70%;
  height: 25px;
  font-size:1.4em;
  opacity: 0.7;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  padding-left:15px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  padding-left:15px;
}

::-ms-input-placeholder { /* Microsoft Edge */
  padding-left:15px;
}
#index .btn{
  background: #1e5eff;
  margin: 10% 35% 20% 35%;
  padding:1%;
  border-radius: 5px;
}
#index .btn a{
  color:white;
  font-size:1.2em;
  font-weight: bold;
  text-decoration: none;
}
#index .instructions {
  padding-bottom:7%;
}
#index .instructions a{
  color: #6e87ab;
  text-decoration: none;
}
#instructions{
  padding-top: 15%;
}
#instructions #background{
  padding-top:5%;
  background: #0F1927;
  padding-bottom: 15%;
}
#instructions #background .btn{
  background: #1e5eff;
  margin: 0% 40% 0 40%;
  padding:1%;
  border-radius: 5px;
  text-align: center;
}
#instructions #background .btn a{
  color:white;
  font-size:1.2em;
  font-weight: bold;
  text-decoration: none;
}
#instructions #background #text{
  background: #0F1927;
  padding:5% 9% 10% 9%;
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.50) inset;
  font-size: 1.3em;
  color: #8399B8; 
}
#instructions #background #text p{
  margin:7% 0;
}
#instructions #background #text p em{
  color:white;
}
#questionPage{
  padding-bottom:10%;
}
#questionPage img{
  width:100%;
  opacity: 0.8;
  background-image: linear-gradient(-180deg, #0E1A28 0%, rgba(0,0,0,0.00) 100%);  
  margin-bottom:5%;
}
#questionPage #question{
  font-size: 1.6em;
  line-height: 1.2em;
  color: #FFFFFF;
  text-shadow: 0 1px 7px #000000; 
  margin-left: 2%; 
}
#questionPage .answer{
  background: #2774FE;
  border-radius: 2px;
  text-align:center;
  margin:7% 10%;
  color:white;
  font-size:1.4em;
  padding:3.5%;
}
#questionPage .btn{
  background: #1e5eff;
  margin: 0% 40% 0 40%;
  padding:1%;
  border-radius: 5px;
  text-align: center;
}
#questionPage .btn a{
  color:white;
  font-size:1.2em;
  font-weight: bold;
  text-decoration: none;
}
#resultPage{
  text-align:center;
  padding-bottom:10%;
}
#resultPage #congratulations{
  font-family: BreeSerif-Regular;
  font-size: 3em;
  color: #FFFFFF;
  padding:20% 0 25% 0;
}
#resultPage #correctAnswers{
  font-family: BreeSerif-Regular;
  font-size:2em;
  color: #FFFFFF;
  margin:0 30% 15% 30%;
  line-height: 1.2em;
}
#resultPage #message{
  font-family: BreeSerif-Regular;
  font-size: 2.9em;
  color: #FFFFFF;
  margin-bottom:40%;
  margin-top:10%;
}
#resultPage btn{
  
}